@font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #ebdcb3;
  color: #1a254c;
  font-family: 'Montserrat-Regular', sans-serif;
  text-align: center;
  font-size: 1.2em;
}

article {
  width: 80%;
  margin: 0 auto;
}

section {
  width: 50%;
  margin: 0 auto;
}

select {
  width: 50%;
  display: inline-block;
  padding: 5px 25px;
  cursor: pointer;
  border: 1px solid #1a254c;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
}

h1 {
  font-size: 2em;
}

input[type='text'] {
  opacity: 0.5;
  border: none;
}

input[type='text']:focus {
  border: none;
  outline: 0;
}

input[type='radio'] {
  display: none;
}

.radio-selecter-text {
  display: inline-block;
  margin: 3px;
  width: 70px;
  padding: 5px 20px;
  border: 1px solid #1a254c;
  text-align: center;
}

input[type='radio']:checked + label {
  color: #ebdcb3;
  background-color: #1a254c;
}

button {
  margin: 5px 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  outline: none;
  font-family: 'Montserrat-Regular', sans-serif;
}

#app-name {
  margin: 1.5em 0 0.5em 0;
  font-family: 'Montserrat-Bold';
}

#generate {
  font-size: large;
  color: white;
  background-color: #1a254c;
}

#save {
  font-size: large;
  color: white;
  background-color: #4bb543;
}

#url {
  padding: 10px 15px;
  font-size: 14px;
  width: 100%;
}

#option {
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin: 15px 0;
}

#notice {
  width: 50%;
  margin: 5px auto;
}

.notice-message {
  text-align: left;
  color: red;
  font-size: small;
}

select::before {
  z-index: 1;
}

/* --option-- */

.no-select {
  user-select: none;
}

/* --option */